In [16]:
pip install msoffcrypto-tool

Collecting msoffcrypto-tool
  Downloading msoffcrypto-tool-4.10.1.tar.gz (209 kB)
     |████████████████████████████████| 209 kB 2.1 MB/s eta 0:00:01
Requirement already satisfied: olefile>=0.45 in /opt/anaconda3/lib/python3.7/site-packages (from msoffcrypto-tool) (0.46)
Requirement already satisfied: cryptography>=2.3 in /opt/anaconda3/lib/python3.7/site-packages (from msoffcrypto-tool) (2.7)
Requirement already satisfied: six>=1.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from cryptography>=2.3->msoffcrypto-tool) (1.12.0)
Requirement already satisfied: asn1crypto>=0.21.0 in /opt/anaconda3/lib/python3.7/site-packages (from cryptography>=2.3->msoffcrypto-tool) (1.0.1)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /opt/anaconda3/lib/python3.7/site-packages (from cryptography>=2.3->msoffcrypto-tool) (1.12.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.7/site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.3->msoffcrypto-tool) (2.19)
Building wheels for collected packages: msoffcrypto-tool
  Building wheel for msoffcrypto-tool (setup.py) ... done
  Created wheel for msoffcrypto-tool: filename=msoffcrypto_tool-4.10.1-py3-none-any.whl size=30480 sha256=093a047dacd844f0a0dcbc78472c66733555935e099ddeb001d7acd57a8375a9
  Stored in directory: /root/.cache/pip/wheels/cd/ac/c4/e552b631884346dd615f2ac834a16b030db2c0d2d4308e0b3f
Successfully built msoffcrypto-tool
Installing collected packages: msoffcrypto-tool
Successfully installed msoffcrypto-tool-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [133]:
import numpy as np
import pandas as pd
import tempfile
import msoffcrypto
from pathlib import Path

In [134]:
file_dir = Path(r"file:///Users/hi/ds_python/ROX/")
password = "roxsenko"
sheet_name1 = "サンプル客数"
sheet_name2 = "天気データ"

In [135]:
data_f1 = pd.read_csv("サンプル客数.csv")
data_f2 = pd.read_csv("天気データ.csv")

In [136]:
data_f1 = data_f1.drop([0])

In [137]:
data_f1

,Date,time0_1,time1_2,time2_3,time3_4,time4_5,time5_6,time6_7,time7_8,time8_9,time9_10,time10_11,time11_12,time12_13,time13_14,time14_15,time14_16
1,2017/12/1,0,24,42,52,58,84,62,66,48,68,76,90,76,72,8,0
2,2017/12/2,0,28,44,72,100,126,96,100,110,94,90,82,78,46,20,4
3,2017/12/3,0,14,46,64,100,92,98,112,122,136,90,64,54,42,10,0
4,2017/12/4,0,18,46,52,66,70,78,76,70,48,62,84,72,38,30,0
5,2017/12/5,0,16,56,64,64,80,58,72,60,68,66,60,78,40,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,2020/1/26,0,10,40,38,66,100,96,110,98,146,86,50,46,34,12,0
788,2020/1/27,0,8,22,54,64,88,42,70,60,52,66,50,58,34,4,0
789,2020/1/28,0,12,42,42,32,36,54,16,42,54,26,44,36,16,0,0
790,2020/1/29,0,8,28,28,60,56,46,76,58,70,82,62,90,58,4,0
791,2020/1/30,0,24,30,32,74,58,62,38,52,74,66,84,50,48,0,0

In [138]:
data_f1

,Date,time0_1,time1_2,time2_3,time3_4,time4_5,time5_6,time6_7,time7_8,time8_9,time9_10,time10_11,time11_12,time12_13,time13_14,time14_15,time14_16
1,2017/12/1,0,24,42,52,58,84,62,66,48,68,76,90,76,72,8,0
2,2017/12/2,0,28,44,72,100,126,96,100,110,94,90,82,78,46,20,4
3,2017/12/3,0,14,46,64,100,92,98,112,122,136,90,64,54,42,10,0
4,2017/12/4,0,18,46,52,66,70,78,76,70,48,62,84,72,38,30,0
5,2017/12/5,0,16,56,64,64,80,58,72,60,68,66,60,78,40,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,2020/1/26,0,10,40,38,66,100,96,110,98,146,86,50,46,34,12,0
788,2020/1/27,0,8,22,54,64,88,42,70,60,52,66,50,58,34,4,0
789,2020/1/28,0,12,42,42,32,36,54,16,42,54,26,44,36,16,0,0
790,2020/1/29,0,8,28,28,60,56,46,76,58,70,82,62,90,58,4,0
791,2020/1/30,0,24,30,32,74,58,62,38,52,74,66,84,50,48,0,0

In [139]:
# x = 0
# count = 0
# data_f1_new = data_f1

# for i in range(len(data_f1)):
#     for j in range(len(data_f1.loc[1])-1):
#         if x < int(data_f1.loc[i+1][j+1]):
#             x = int(data_f1.loc[i+1][j+1])
#     if x == 0:
#         data_f1_new = data_f1_new.drop([i])
# #     count += 1
# #     print(x,count)
#     x = 0

# data_f1_new